.heading {
  color: var(--mainColor);
  margin: 0;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: relative;
  color: var(--mainColor);
}

.headerWColor,
.headerWImg {
  color: #fff;
}

.headerWImg {
  background-size: cover;
  background-position: center;
  min-height: 10em;
}

.header div,
.header nav {
  position: relative;
}

.headerWColor .heading,
.headerWImg .heading {
  color: inherit;
}

.headerWImg::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.showsType {
  padding-bottom: 1.5em;
}

.breadcrumbs {
  margin-bottom: -0.5em;
}

.crumb,
.crumb:hover,
.crumb:active,
.crumb:visited {
  color: inherit;
}

.type {
  margin: 0;
  align-self: flex-end;
  position: relative;
  color: inherit;
}
