.MdSpoiler {
  border: 1px solid #15181A;
}

.MdSpoiler-title,
.MdSpoiler-text {
  padding: 0 0.25em;
}

.MdSpoiler-text {
  transition: background-color 0.2s ease-out;
  background-color: #15181A;
}

.MdSpoiler-text:hover {
  background-color: initial;
}