.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 0.5em;
  width: 100%;
}

@media all and (min-width: 900px) {
  .App-container {
    max-width: 70em;
  }
}
